<%- include('partials/head.ejs') -%>
<%- include('partials/navbar.ejs') -%>


<title>SquareHelp - dashboard.html</title>

<div class="wrapper">
  <h1>Dashboard</h1>
  <p>(This will be changed a lot)</p>
  <p>Hello <span id="loggedInUser"></span></p>
</div>

<script src="/js/dashboard/dashboard.js"></script>
<%- include('partials/footer.ejs') -%>