<%- include('partials/head.ejs') -%>
<%- include('partials/navbar.ejs') -%>

<title>SquareHelp - register.html</title>

<div class="wrapper">
  <h1>Register page</h1>
</div>

<%- include('partials/footer.ejs') -%>